{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h1>Account Histry</h1>
    <table class="table">
        <thread>
            <tr class="table table-striped">
                <th scopr="col">Date</th>
                <th scope="col">Symbol</th></th>
                <th scope="col">Shares</th>
                <th scope="col">Price (per share)</th>
                <th scope="col">Transaction type</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thread>
        <tbody>
            {% for transaction in history %}
                <tr scope="row">
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.ticker }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{  (transaction.quantity * transaction.price) | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}